
.section-logo {
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: url('/svg/corner_right_bottom.svg');
    background-size: contain;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 105px;
    left: 40px;
    width: 40px;
    height: 40px;
    background: url('/svg/corner_left_top.svg');
    background-size: contain;
  }

  .warning-dev {
    .warning-dev__title {
      &::before {
        content: '';
        display: block;
        width: 3vh;
        height: 3vh;
        background: url('/svg/status-warning-ico.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 1vh;
      }

      &::after {
        content: '';
        display: block;
        width: 3vh;
        height: 3vh;
        background: url('/svg/status-warning-ico.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 1vh;
      }
    }
  }
}
