.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-logo {
  .logo {
    font-size: 10vw;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    transition: 1s all;

    &_hidden {
      opacity: 0;
    }
  }
}
